/* FONTS*/

@font-face {
    font-family: Montserrat-Regular;
    src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: Montserrat-thin ;
    src: url(../fonts/Montserrat-Thin.ttf);
}



/* BASICS */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #e3e3e3;
}

canvas {
    display: block;
    margin: auto;
    border: 1px solid black;
}

a {
    text-decoration: none;
}

button {
    background-color: white;
    width: 60px;
    height: 60px;
    border-radius: 20%;
    border: none;
    cursor: pointer;
}

/* HELPERS */

.flex {
    display: flex;
}

.flex.align-center {
    align-items: center;
    cursor: pointer;
}

.cursor-pointer{
    cursor: pointer;
}

.flex.space-between{
    justify-content: space-between;
}

.display-none{
    display: none;
}

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/* header */

.header {
    width: 100%;
    height: 66px;
    background-color:#ff7f00;
}

.logo-header img{
    height: 22px;
    width: 133px;
    margin: 22px 0px 22px 49px;

}

.nav a{
    font-family: Montserrat-Regular;
    color: #FFFFFF;
    font-size: 1.187rem;
    width: 73px;
    height: 46px;
    margin-top: 17px;
    margin-right: 20px;

}


.nav a:hover{
    color: black;
    border-bottom: 5px solid black;
}

/* gallery */

.gallery-img{
    padding: 5px;
    width: 200px;
    height: 200px;
}

.img-content{
    text-align: center;
}

/* editor */

.canvas-container{
    margin-left: 51px;
}

.editor{
    margin-top: 26px;
    margin-bottom: 26px;
}

#text-input{
    width: 374px;
    height: 61px;
    font-size: 2rem;
    
}

.meme-editor{
    margin-left: 100px;
}

.action-btn img{
    width: 40;
    height: 40px;
    background-color: white;
}

.action-btn{
    justify-content: center;
    margin-top: 30px;
    display: grid;
    grid-template-columns: 70px 70px 70px;
    grid-template-rows: 80px 80px 80px;
}

.download {
    width: 120px;
    height: 60px;
    border-radius: 12px;
    background-color: #ff7f00;
}

.downloadLink {
    font-family: Montserrat-Regular ;
    font-size: 1.25rem;
    color: white;
    display:inline-block;
    padding-top: 16px;
    padding-left: 9px;
}



.footer {
    width: 100%;
    height: 150px;
    background-color: #ff7f00;
}

.logo-footer img{
    width: 133px;
    height: 22px;
    margin-top: 40px;
}

.footer p {
    font-family: Montserrat-thin;
    color: #FFFFFF;
    font-size: 1.187rem;
}

.footer-content{
    text-align: center;
}






